<h2>Homepage</h2>

<h4>Enter the latitude/longitude of your location and the max distance you are willing to travel below</h4>

<form method="GET" action="/">
    <!-- <label for=""></label> -->
    Latitude: <input type="text" name="latitude">
    Longitude: <input type="text" name="longitude">
    Max distance: <input type="text" name="maxDistance">
    <button type="submit">Search</button>
</form>


<% finalArray.forEach(details => { %>      
    <ul>      
        <h4><%= details.name %></h4>   
        <li>Summary: <%= details.summary %></li>   
        <li>Difficulty: <%= details.difficulty %></li>   
        <li>Rating: <%= details.stars %></li>   
        <li>Location: <%= details.location %></li>   
        <li>Length: <%= details.length %> miles</li>    
        <li>Elevation: <%= details.high %> feet</li>   
        <li>Base elevation: <%= details.low %> feet</li>  
        <li>Latitude: <%= details.latitude %></li>  
        <li>Longitude: <%= details.longitude %></li>  
        <li>Ascent: <%= details.ascent %></li>  
        <li>Descent: <%= details.descent %></li>  
        <li>Condition status: <%= details.conditionStatus %></li>  
        <li>Conditions last updated on: <%= details.conditionDate %></li>  
        <li>Link: <%= details.url %></li>  
        <br> 
        <br> 
    </ul>     
<%  }) %> 
