<h2 id="home">Home</h2>

<!-- <div>
    <input type="hidden" name="">
    <a href="/savedTrails">Saved trails</a>
</div> -->

<div>
    <form action="/savedTrails">
        <button>My Saved Trails</button>
    </form>
</div>

<br>

<div class="instructions">
    <h3>Enter the latitude and longitude of your location and the maximum distance you want to search below</h3>
    <h4>Get your coordinates <a href="https://www.latlong.net/" target="_blank" id="hereLink">here</a></h4>
</div>

<div class="userParams">
    <form method="GET" action="/">
        Latitude: <input type="text" name="latitude">
        <br>
        Longitude: <input type="text" name="longitude">
        <br>
        Max distance: <input type="text" name="maxDistance"> miles
        <br>
        <button type="submit">Search Trails</button>
    </form>
</div>

<% finalArray.forEach(details => { %>      
    <form method="POST" action="/savedTrails" class="trails">
        <ul>
            <h4 id="trail-name">
                <%= details.name %>
                <input hidden type="text" name="name" id="trails" value="<%= details.name %>">
            </h4>   
            <li>
                Summary: <%= details.summary %>
                <input hidden type="text" name="summary" id="trails" value="<%= details.summary %>">
            </li>   
            <li>
                Difficulty: <%= details.difficulty %>
                <input hidden type="text" name="difficulty" id="trails" value="<%= details.difficulty %>">
            </li>   
            <li>
                Rating: <%= details.stars %>
                <input hidden type="number" name="stars" id="trails" value="<%= details.stars %>">
            </li>   
            <li>
                Location: <%= details.location %>
                <input hidden type="text" name="location" id="trails" value="<%= details.location %>">
            </li>   
            <li>
                Length: <%= details.length %> miles
                <input hidden type="number" name="length" id="trails" value="<%= details.length %>">
            </li>    
            <li>
                Elevation: <%= details.high %> feet
                <input hidden type="number" name="high" id="trails" value="<%= details.high %>">
            </li>   
            <li>
                Base elevation: <%= details.low %> feet
                <input hidden type="number" name="low" id="trails" value="<%= details.low %>">
            </li>  
            <li>
                Latitude: <%= details.latitude %>
                <input hidden type="number" name="latitude" id="trails" value="<%= details.latitude %>">
            </li>  
            <li>
                Longitude: <%= details.longitude %>
                <input hidden type="number" name="longitude" id="trails" value="<%= details.longitude %>">
            </li>  
            <li>
                Ascent: <%= details.ascent %>
                <input hidden type="number" name="ascent" id="trails" value="<%= details.ascent %>">
            </li>  
            <li>
                Descent: <%= details.descent %>
                <input hidden type="number" name="descent" id="trails" value="<%= details.descent %>">
            </li>  
            <li>
                Condition status: <%= details.conditionStatus %>
                <input hidden type="text" name="conditionStatus" id="trails" value="<%= details.conditionStatus %>">
            </li>  
            <li>
                Conditions last updated on: <%= details.conditionDate %>
                <input hidden type="number" name="conditionDate" id="trails" value="<%= details.conditionDate %>">
            </li>  
            <li>
                <a href="<% details.url %>" target="_blank">More info</a>
                <input hidden type="text" name="url" id="trails" value="<%= details.url %>">
            </li>
        </ul>

        <button type="submit">Save trail</button>
    </form>
<br> 
<br>     
<%  }) %>
