<h2>Homepage</h2>

<h4>Enter the latitude/longitude of your location and the max distance you are willing to travel below</h4>

<form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <button type="submit">Search</button>
</form>

<br>
<%= finalObject.name %> 
<br>
<%= finalObject.summary %> 
<br>
<%= finalObject.difficulty %> 
<br>
<%= finalObject.stars %> 
<br>
<%= finalObject.location %> 
<br>
<%= finalObject.length %> miles
<br>
<%= finalObject.high %> feet
<br>
<%= finalObject.low %> feet
