<br>
<div>
    <form action="/savedTrails">
        <button id="my-saved-trails-btn" class="btn btn-3">My Saved Trails</button>
    </form>
</div>

<br>

<h1 id="header">Off Road Trail Finder</h1>

<br>
<br>
<br>

<div>
    <h3 id="instructions">Enter the coordinates of your location and the maximum distance you want to search below</h3>
    <br>
</div>

<div>
    <div id="search-trails">
        <div id="instructions">
            <button class="bttn-hover color-4">
                <a href="https://www.latlong.net/" target="_blank" id="hereLink">Get your coordinates</a>
            </button>
        </div>
    </div>
</div>

<br>

<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"></span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"></span>
    </div>
  </div> -->

<div class="userParams">
    <form method="GET" action="/">
        Latitude: <input type="text" name="latitude">
        <br>
        Longitude: <input type="text" name="longitude">
        <br>
        Max distance: <input type="text" name="maxDistance" placeholder="up to 200 miles"> miles
        <br>
        <div id="search-trails">
            <button type="submit" class="bttn-hover color-1">Search Trails</button>
        </div>
    </form>
</div>

<br>
<br>

<% finalArray.forEach(details => { %>      
    <form method="POST" action="/savedTrails" class="trails">
        <ul>
            <h4 id="trail-name">
                <span id="span"></span><b><%= details.name %></b> 
                <input hidden type="text" name="name" id="trails" value="<%= details.name %>">
            </h4>   
            <div>
                <span id="span">>Summary: <%= details.summary %></span>
                <input hidden type="text" name="summary" id="trails" value="<%= details.summary %>">
            </div>   
            <div>
                <span id="span">>Difficulty: <%= details.difficulty %></span>
                <input hidden type="text" name="difficulty" id="trails" value="<%= details.difficulty %>">
            </div>   
            <div>
                <span id="span">>Rating: <%= details.stars %></span> 
                <input hidden type="number" name="stars" id="trails" value="<%= details.stars %>">
            </div>   
            <div>
                <span id="span">>Location: <%= details.location %></span> 
                <input hidden type="text" name="location" id="trails" value="<%= details.location %>">
            </div>   
            <div>
                <span id="span">>Length: <%= details.length %> miles</span> 
                <input hidden type="number" name="length" id="trails" value="<%= details.length %>">
            </div>    
            <div>
                <span id="span">>Elevation: <%= details.high %> feet</span> 
                <input hidden type="number" name="high" id="trails" value="<%= details.high %>">
            </div>   
            <div>
                <span id="span">>Base elevation: <%= details.low %> feet</span> 
                <input hidden type="number" name="low" id="trails" value="<%= details.low %>">
            </div>  
            <div>
                <span id="span">>Latitude: <%= details.latitude %></span> 
                <input hidden type="number" name="latitude" id="trails" value="<%= details.latitude %>">
            </div>  
            <div>
                <span id="span">>Longitude: <%= details.longitude %></span> 
                <input hidden type="number" name="longitude" id="trails" value="<%= details.longitude %>">
            </div>  
            <div>
                <span id="span">>Ascent: <%= details.ascent %></span> 
                <input hidden type="number" name="ascent" id="trails" value="<%= details.ascent %>">
            </div>  
            <div>
                <span id="span">>Descent: <%= details.descent %></span> 
                <input hidden type="number" name="descent" id="trails" value="<%= details.descent %>">
            </div>  
            <div>
                <span id="span">>Condition status: <%= details.conditionStatus %></span> 
                <input hidden type="text" name="conditionStatus" id="trails" value="<%= details.conditionStatus %>">
            </div>  
            <div>
                <span id="span">>Conditions last updated on: <%= details.conditionDate %></span> 
                <input hidden type="number" name="conditionDate" id="trails" value="<%= details.conditionDate %>">
            </div>  
            <div>
                <a href="<%= details.url %>" target="_blank" style="color: rgb(255, 250, 100) ;">>More info</a>
                <input type="hidden" name="url" id="trails" value="<%= details.url %>">
            </div>
        </ul>

        <button type="submit" id="save-trail-button">Save trail</button>
    </form>
<br> 
<br>     
<%  }) %>
