<h2>Homepage</h2>

<div>
    <input type="hidden" name="">
    <a href="/savedTrails">Saved trails</a>
</div>

<br>

<div class="instructions">
    <h3>Enter the latitude and longitude of your location and the maximum distance that you want to search from your location below</h3>
    <h4>Get your coordinates <a href="https://www.latlong.net/" target="_blank">here</a></h4>
</div>

<div class="userParams">
    <form method="GET" action="/">
        Latitude: <input type="text" name="latitude">
        <br>
        Longitude: <input type="text" name="longitude">
        <br>
        Max distance: <input type="text" name="maxDistance">
        <br>
        <button type="submit">Search</button>
    </form>
</div>

<% finalArray.forEach(details => { %>      
    <ul>      
        <h4><%= details.name %></h4>   
        <li>Summary: <%= details.summary %></li>   
        <li>Difficulty: <%= details.difficulty %></li>   
        <li>Rating: <%= details.stars %></li>   
        <li>Location: <%= details.location %></li>   
        <li>Length: <%= details.length %> miles</li>    
        <li>Elevation: <%= details.high %> feet</li>   
        <li>Base elevation: <%= details.low %> feet</li>  
        <li>Latitude: <%= details.latitude %></li>  
        <li>Longitude: <%= details.longitude %></li>  
        <li>Ascent: <%= details.ascent %></li>  
        <li>Descent: <%= details.descent %></li>  
        <li>Condition status: <%= details.conditionStatus %></li>  
        <li>Conditions last updated on: <%= details.conditionDate %></li>  
        <li><a href="<% details.url %>" target="_blank">More info</a></li>
        <br>
            <form method="POST" action="/savedTrails">
                <input hidden type="number" name="trailId" value="<% details.trailId %>">
                <button type="submit">Save trail</button>
            </form>
        <br> 
        <br> 
    </ul>     
<%  }) %>
