<br>

<form action="/">
    <button id="back-button">Back to Search</button>
</form>

<br>

<h1 id="header">Saved Trails</h1>

<br>

<div>
    <% savedTrails.forEach((trail) => { %>
        <div id="my-trails">
            <h3 id="trail-name" style="color:white;">
                <%= trail.name %>    
            </h3>
            <div> 
                <span id="span">>Summary: <%= trail.summary %></span>     
            </div>
            <div>
                <span id="span">>Difficulty: <%= trail.difficulty %></span>     
            </div>
            <div>
                <span id="span">>Rating: <%= trail.stars %> stars</span>
            </div>
            <div>
                <span id="span">>Location: <%= trail.location %></span>     
            </div>
            <div>
                <span id="span">>Length: <%= trail.length %> miles</span> 
                
            </div>
            <div>
                <span id="span">>Elevation: <%= trail.high %> feet</span> 
            </div>
            <div>
                <span id="span">>Base elevation: <%= trail.low %> feet </span>
                   
            </div>
            <div>
                <span id="span">>Ascent: <%= trail.ascent %> feet</span> 
                
            </div>
            <div>
                <span id="span">>Descent: <%= trail.descent %> feet</span>
                
            </div>
            <div>
                <span id="span">>Latitude: <%= trail.latitude %></span>   
            </div>
            <div>
                <span id="span">>Longitude: <%= trail.longitude %></span>    
            </div>
            <div>
                <span id="span">>Conditions Status: <%= trail.conditionStatus %></span>    
            </div>
            <div> 
                <span id="span">>Conditions last updated: <%= trail.conditionDate %></span>    
            </div>
            <div>
                <a href="<%= trail.url %>" target="_blank" style="color: rgb(255, 250, 100);">More info</a>  
            </div>
        </div>
        <!-- <br> -->

        <form action="/savedTrails/<%= trail.id %>?_method=DELETE" method="POST">
            <input hidden type="text" name="id" value="<%= trail.id %>">
            <button type="submit" id="remove-trail">
                Remove Trail
            </button>    
        </form>

        <br>
        <br>
    <% }) %> 
</div>
