<br>

<form action="/">
    <button id="back-to-search">Back to Search</button>
</form>

<h1 id="saved-trails-header">Saved Trails</h1>

<br>

<div>
    <% savedTrails.forEach((trail) => { %>
        <div id="saved-trails">
            <h3 id="trail-name" style="color:white;">
                <%= trail.name %>    
            </h3>
            <div>Difficulty: 
                <%= trail.difficulty %>    
            </div>
            <div>Rating: 
                <%= trail.stars %>  
                  stars
            </div>
            <div>Location: 
                <%= trail.location %>    
            </div>
            <div>Length:
                <%= trail.length %>
                 miles
            </div>
            <div>Elevation:
                <%= trail.high %>
                 feet
            </div>
            <div>Base elevation:
                <%= trail.low %>
                 feet    
            </div>
            <div>Ascent: 
                <%= trail.ascent %>
                 feet
            </div>
            <div>Descent: 
                <%= trail.descent %>
                 feet  
            </div>
            <div>Latitude: 
                <%= trail.latitude %>    
            </div>
            <div>Longitude: 
                <%= trail.longitude %>    
            </div>
            <div>Conditions Status: 
                <%= trail.conditionStatus %>    
            </div>
            <div>Conditions last updated: 
                <%= trail.conditionDate %>    
            </div>
            <div>
                <a href="<%= trail.url %>" target="_blank" style="color: rgb(21, 0, 255) ;">More info</a>  
            </div>
        </div>
        <br>

        <form action="/savedTrails/<%= trail.id %>?_method=DELETE" method="POST">
            <input hidden type="text" name="id" value="<%= trail.id %>">
            <button type="submit" id="remove-trail">
                Remove Trail
            </button>    
        </form>

        <br>
        <br>
    <% }) %> 
</div>
